<!DOCTYPE html>
<html>
<head>
	<style> 
div {
  width: 375px;
  height: 120px;
  background: 	#1fc7b6;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}

div:hover {
  width: 1360px;
}
</style>
	 <meta charset="UTF-8">
  <title>CraZy Munde</title>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300">
      <link rel="stylesheet" href="style.css">



      
	<title>
		CrAzyMunde
	</title>
</head>
<body>




	<body background="http://s1.bwallpapers.com/wallpapers/2014/02/11/yellow-color-backgrounds_092913106.jpg">



		 <div id="menu-nav">
  <div id="navigation-bar">
    <ul>
      <li><a href="#"><i class="fa fa-home"></i><span><a href="file:///C:/Users/admin/Desktop/crazymunde.html">    Home</a></span></a></li>
       <li><a href="#"><i class="fa fa-user"></i><span><a href="file:///C:/Users/admin/Desktop/about.html">    About</a></span></a></li>
      <li><a href="#"><i class="fa fa-book"></i><span><a href="file:///C:/Users/admin/Desktop/contact.html">    Contact</a></span></a></li>
	
    </ul>
  </div>
  
  </div>
<pr> <search type="web" placeholder="Search Music" ng-style="!settings.apps ? { 'margin-bottom':'1000px' } : ''" class="search ng-isolate-scope"><form class="search-form ng-pristine ng-valid" ng-submit="submit()">
    <input class="search-form__query ng-pristine ng-valid ng-empty ng-touched" type="text" placeholder="Search Music" autofocus="" ng-change="getSuggestions()" ng-keydown="switchSugg($event)" ng-model="inputValue" ng-model-options="{debounce: 300}" style="">
   <input class="cancel" type="reset" ng-click="showSuggestions=false">
    <input class="search-form__submit" type="submit">
    <ul class="suggestions ng-hide" ng-show="showSuggestions">
        <li class="nothing ng-binding" ng-show="!suggestions.length">
           
        </li>
        <!-- ngRepeat: suggestion in suggestions -->
    </ul>
</form>
</search>
</pr>



	
   <p><CENTER> <img src="Cool Text.png" title="CrAzyMunde"ALIGN="BOTTOM"></p> </CENTER>

 <CENTER> <img src="Giphy.gif" ALIGN="TOP" width="500" height="269"> </CENTER>
	<center><h4>YOUR MUSIC JUNCTION....</h4></center>
<HR>
 <pr><h3><marquee direction="left"><font color="red">LISTEN TO THE EXCLUSIVE TRACKS</font></marquee></h3></pr>
<p><h3><font face="Lucida Handwriting">MAIN DEEWANA TERA- GURU RANDHAWA</font></h3></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/NypyVD3ov8k?controls=0&amp;start=3" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 f-desc padding-10px">
                                                                            <audio controls="" preload="none">
                                            <source src= "01 - Main Deewana Tera - Arjun Patiala (2019).mp3" type="audio/mpeg"> 
                                        </audio>
                                                                    </div>
<h3><a href="https://pagalworld3.org/113401/Main%20Deewana%20Tera%20-%20Arjun%20Patiala.mp3">DOWNLOAD MP3</h3></a>
</body>
</html>